<html>
    <h>
        Create Post
    </h>
    <body>
<form method="POST">
    <input type="text" name="title" placeholder="Event Title">

    <input type="text" name="category" placeholder="Category">

    <input type="text" name="location" placeholder="Location">
    <input type="date" name='date' placeholder='Date'>
    <input type="time" name="time" placeholder="Time">
    <input type="text" name="description" placeholder="Description">
    
<a href="/add_post">
    <button type="submit">
        Create Post
    </button>
</a>
</form>
    </body>
</html>