<html>
    
    <body>
        <div style="text-align:center; margin-bottom:20px;">
        <a href="/club_dashboard" class="event-btn">Back to Dashboard</a>
    </div>
    <h>
        Create Post
    </h>
<form method="POST">
    <input type="text" name="title" placeholder="Event Title">

    <input type="text" name="category" placeholder="Category">

    <input type="text" name="location" placeholder="Location">
    <input type="date" name='date' placeholder='Date'>
    <input type="time" name="time" placeholder="Time">
    <input type="text" name="description" placeholder="Description">
    <input type="'text" name="image_url" placeholder="Image Url">
    
    <button type="submit">
        Create Post
    </button>
</form>
    </body>
</html>