<!DOCTYPE html>
<html>

<head>
    <title>My Posts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h1 class="feed-title">My Posts</h1>

<div class="feed-container">

    {% for event in events %}

    <div class="event-card">

        {% if event.image_url %}
        <img src="{{ event.image_url }}" class="event-image">
        {% endif %}

        <div class="event-content">

            <p class="club-name">{{ event.club_name }}</p>

            <h2 class="event-title">{{ event.title }}</h2>

            <p class="event-category">{{ event.category }}</p>

            <div class="event-meta">

                <p><b>Date:</b> {{ event.date }}</p>

                <p><b>Time:</b> {{ event.time }}</p>

                <p><b>Location:</b> {{ event.location }}</p>

            </div>

            <p class="event-description">
                {{ event.description }}
            </p>

            <a href="{{ url_for('edit_posts', post_id=event.id) }}">
                <button class="event-btn">
                    Edit
                </button>
            </a>
            <form action="{{ url_for('delete_post', post_id=event['id']) }}" method="POST">
    <button
        type="submit"
        onclick="return confirm('Delete this post?')">
        Delete
    </button>
</form>

        </div>

    </div>

    {% endfor %}

</div>

</body>

</html>