<!DOCTYPE html>
<html>
<head>
    <title>Unmute</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div style="text-align:center; margin-bottom:20px;">
        <a href="/club_dashboard" class="event-btn">Back to Dashboard</a>
    </div>
    <h1 class="feed-title">My Posts</h1>

<div class="feed-container">
    {% for event in events %}
    <div class="event-card">

        {% if event.image_url %}
            <img src="{{ event.image_url }}" alt="Event Image" class="event-image">
        {% endif %}

        <div class="event-content">
            <p class="club-name">{{ event.club_name }}</p>
            <h2 class="event-title">{{ event.title }}</h2>
            <p class="event-category">{{ event.category }}</p>

            <div class="event-meta">
                <p><b>Date:</b> {{ event.date }}</p>
                <p><b>Time:</b> {{ event.time }}</p>
                <p><b>Location:</b> {{ event.location }}</p>
            </div>

            <p class="event-description">{{ event.description }}</p>

            <button class="event-btn">View Details</button>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>